.main{
    width:100%;
   background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
   
    
}
#text1{
    position:absolute;
    left:30px;
}
#text2{
    position:absolute;
    top:50px;
    left:30px;
}
#input1{
    width:300px;
    position: absolute;
    left:30px;
    top:100px;
}
#text3{
    position:absolute;
    top:120px;
    left:30px;
}
#date{
    position:absolute;
    top: 170px;
    left:30px;
    width:300px;
}
#text4{
    position:absolute;
    top: 200px;
    left:30px;
}
#time{
     position:absolute;
    top: 250px;
    left:30px;
}
#btn1{
    position:absolute;
    top: 290px;
    left:30px;
    width:300px;
    background-color: black;
    color:white;
    height:40px;
}
#btn2{
    position:absolute;
    top: 340px;
    left:30px;
    width:300px;
    background-color:brown;
    color:white;
    height:40px;
}
#text5{
    position:absolute;
    top: 400px;
    left:30px;
}
#text6{
    position:absolute;
    top: 430px;
    left:30px;
}
#line{
    border-top: 1px solid black;
    width:300px;
    height:1px;
    position: absolute;
    top: 470px;
    left:30px;
}
#list{
    position: absolute;
    top: 400px;
    left:30px;
    padding:10px;
}
.item{
    width: 100%;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}